<div id="commentbox-<%= commentable.class.to_s %>-<%= commentable.id %>" class="comment-box">
  <div class="comment-panel">
    <%# if user_signed_in? %>
        <form class="comment-form" id="comment-form-<%= commentable.class.to_s %>-<%= commentable.id %>" accept-charset="UTF-8" action="<%=create_comment%>" method="post" data-remote="true">
          <%= hidden_field_tag :model_name, 'Post' %>
          <%= hidden_field_tag :id, commentable.id %>
          <div class="form-group">
            <div class="pad">
              <%= text_area_tag :body, nil, :class => 'text-box' %>
              <%= submit_tag "ارسال", :class => "submit-btn btn btn-primary" %>
            </div>
          </div>
        </form>
    <%# end %>
    <!--<div class="col-md-2 side-panel">-->
      <!--<i class="fa fa-comments fa-2x"></i>-->
    <!--</div>-->
    <div class="comments">
      <% commentable.root_comments.each do |c| %>
          <%= render :partial => 'comment/single_comment', :locals => {:comment => c} %>
      <% end %>
    </div>
  </div>
</div>