<div class="modal fade" id="myModal<%=post.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <div class="title ">
          <%if @eng %>
            <%= post.englishTitle %>
          <%else%>
            <%= post.title %>
          <%end%>
        </div>
        <div class="date">
          <%= post.publishDate.to_jalali.strftime("%d %B").persian_cleanup %> &middot; <%= post.category.name %>
        </div>
      </div>
      <div class="modal-body">
        <%= image_tag post.image_url %>
      </div>
      <div class="modal-footer">
        <% if summary %>
          <%if @eng %>
            <%= raw post.englishSummary %>
          <%else %>
            <%= raw post.summary %>
          <%end%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="post">
  <div class="image-wrapper">
    <div class="post-image">
      <% if post.image_url %>
          <a data-toggle="modal" data-target="#myModal<%=post.id%>">
            <%= image_tag post.image_url %>
          </a>
      <% end %>
    </div>
  </div>
  <div class="content-wrapper text-<%= I18n.locale.to_s %>">
    <div class="content-colorbar"></div>
    <div class="pad">
      <div class="title ">
        <%if @eng %>
            <%= post.englishTitle %>
          <%else%>
            <%= post.title %>
          <%end%>
      </div>
      <div class="date">
        <%= post.publishDate.to_jalali.strftime("%d %B").persian_cleanup %> &middot; <%= post.category.name %>
      </div>
    </div>
    <hr>

    <div class="text">
      <% if summary %>
          <div class="pad">
            <%if @eng %>
            <%= raw post.englishSummary %>
          <%else %>
            <%= raw post.summary %>
          <%end%>
            <div class="more">
              <%= link_to I18n.t('more'), post %>
            </div>
          </div>
      <% else %>
          <div class="pad">
            <%if @eng %>
            <%= raw post.englishText %>
          <%else %>
            <%= raw post.text %>
          <%end%>
          </div>
          <hr>
      <% end %>
      <div class="tags">
        <%= post.tags %>
      </div>
    </div>
    <% if !summary %>
        <%= render :partial => 'comment/comment_box', :locals => {:commentable => post} %>
    <% end %>
  </div>
  <!--<div class="like-wrapper">
    <%#= render partial: 'like/vote_btn', :locals => {:votable => post} %>
  </div>-->


</div>